@media (max-width: 1280px){
    .buttons button {
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 8px;
        cursor: pointer;
        margin-left: 10px;
        background: #00000080;
        transition: 1s;
        font-size: 18px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 40%;
    }
}


@media (max-width: 1025px) {
    .search-bar {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 40%;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 5px 15px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 35%;
    }

    .search-bar input {
        padding: 8px 10px;
        border-radius: 40px;
        font-size: 14px;
        width: 100%;
        border: none;
        background: #151515b5;
        transition: 1s;
        color: white;
    }

    

    .search-bar button {
        background-color: #ffffff;
        border: none;
        padding: 3px 5px;
        border-radius: 30px;
        cursor: pointer;
    }

    .buttons button {
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        background: transparent;
        transition: 1s;
        font-size: 15px;
        background: #00000080;
    }

    h1.producto-nombre {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }

    .redes {
        display: flex;
        gap: 250px;
        width: 65%;
        margin: auto;
        margin-top: 1%;
    }

    .txt-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 40px);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        background: black;
        padding: 4px;
    }

    .categorias-img{
        width: 220px;
    }

    .categorias{
        width: 250px;
        transition: 1s;
    }

    .categorias:hover{
        width: 300px;
    }
}


@media (max-width: 769px) {



        .redes {
        display: flex;
        gap: 50px;
        width: 70%;
        margin-top: 1%;
    }

    .contenedor-7{
        display: flex;
        flex-wrap: wrap;
    }

    .mediosdepagos {
        display: flex;
        width: 100%;
        gap: 8px;
    }
    


    .search-bar {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 25%;
    }
    .search-bar input {
        padding: 5px 5px;
        border-radius: 40px;
        font-size: 14px;
        width: 100%;
        border: none;
        background: #151515b5;
        transition: 1s;
        color: white;
    }

    .search-bar button {
        background-color: #ffffff;
        border: none;
        padding: 0px 3px;
        width: 30px;
        border-radius: 30px;
        cursor: pointer;
    }


    .buttons button {
        color: white;
        border: none;
        padding: 5px 5px;
        border-radius: 8px;
        cursor: pointer;
        background: transparent;
        transition: 1s;
        font-size: 15px;
        background: #00000080;
    }

    .ropas {
        width: 30%;
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
        transition: 1s;
    }

    .categorias-img{
        width: 250px;
    }

    .categorias{
        width: 150px;
    }

    .categorias:hover{
        width: 200px;
    }
    

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 20px;
    }

    .año-iz {
        margin-left: 10%;
        margin-top: 100px;
        width: 200px;
        text-align: center;
    }

    .año-de {
        margin-left: 60%;
        width: 200px;
        margin-top: 100px;
        text-align: center;
    }

    .txt-1 {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 16px;
        margin: auto;
        margin-top: 10%;
        border-top-right-radius: 50px;
        text-align: center;
        width: 250px;
        margin-left: -40%;
    }

    .qr {
        width: 125px;
    }
}


@media (max-width: 426px) {

    .contenedor-6{
        display: flex;
        flex-wrap: wrap;
    }

    .categorias{
        width: 100%;
        height: 200px;
    }

    .categorias:hover{
        width: 100%;
        height: 250px;
    }

    .categorias-img {
        width: 100%;
    }

    .ropas {
        width: 45%;
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
        transition: 1s;
    }

    .mediosdepagos {
        display: flex;
        width: 100%;
        gap: 8px;
        flex-direction: column;
        align-items: center;
    }

    .tarjetas {
        width: 70%;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .txt-3 {
        font-size: 16px;
    }

    .contenedor-8 {
        width: 100%;
        height: 500px;
        display: flex;
        background-color: #000000;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .descripcion-iz {
        margin-top: 60px;
        margin-left: 5%;
        width: 300px;
        font-size: 10px;
        border-top-right-radius: 25px;
    }

    .img-fondo-5.fade-in.visible {
        padding-bottom: 2px;
    }

    .search-bar{
        display: none;
    }

    .logo{
        display: none;
    }

    .buttons button {
        color: white;
        border: none;
        padding: 8px 7px;
        border-radius: 8px;
        cursor: pointer;
        background: transparent;
        transition: 1s;
        font-size: 14px;
        background: #00000080;
    }

    .btn-arre {
        padding: 10px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.584);
        color: white;
        border: 2px white solid;
        transition: 1s;
    }
    

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 5px 5px;
        margin: auto;
    }

    

    

    .link-1, .link-2, .link-3{
        display: none;
    }

    .año-de {
        margin-left: 50%;
        width: 170px;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
    }

    .año-iz {
        margin-left: 5%;
        margin-top: 30px;
        width: 170px;
        font-size: 12px;
        text-align: center;
    }


    .descripcion-de {
        margin-top: 10px;
        margin-left: 20%;
        width: 300px;
        font-size: 10px;
        border-top-left-radius: 25px;
    }

    .descripcion-iz {
        margin-top: 60px;
        margin-left: 5%;
        width: 300px;
        font-size: 10px;
        border-top-right-radius: 25px;
    }

    .f1 {
        padding: 10px;
        margin-top: 130px;
    }

    .f2 {
        padding: 10px;
        background-color: white;
        font-size: 20px;
    }

    .f3 {
        padding: 10px;
        background-color: white;
        font-size: 25px;
    }

    .habilidades {
        width: 75%;
        margin: 20px auto;
    }

    .contenedor-1 {
        display: flex;
        width: 100%;
        height: 280px;
        transition: 2s;
        background-image: url('/img/photo-1658527311766-890dfd2eda9f.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10% 25%;
        margin: 2% auto;
    }

    .img-fondo {
        background-image: url(/video/Globant Web (6).jpeg);
        background-position: 60% 10%;
        position: relative;
        height: 300px;
    }

    .img-fondo-2 {
        height: 300px;
    }

    .img-fondo-3 {
        background-image: url(/video/GlobantWeb(6).jpeg);
        background-position: 70% 30%;
        position: relative;
        height: 300px;
    }

    .f4,.qr{
        display: none;
    }

    .cuadrados1{
        background-color: red;
        grid-column: 1 / 6;
        grid-row: 1/2;
        padding: 100px;
        background-image: url(/video/unt.jpg);
        background-size: cover;
        color: white;
    }

    .cuadrados2{
        grid-column: 1 / 6;
        grid-row: 2/4;

    }

    .cuadrados3{
        grid-column: 1 / 6;
        grid-row: 4/6;

    }

    .cuadrados4{
        grid-column: 1 / 6;
        grid-row: 6/8;

    }

    .txt-1 {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 20px;
        margin: auto;
        margin-top: 10%;
        border-top-right-radius: 50px;
        text-align: center;
        width: 300px;
        margin-left: -40%;
    }
}

@media (max-width: 420px){
    .buttons button {
        color: white;
        border: none;
        padding: 6px 2px;
        border-radius: 8px;
        cursor: pointer;
        background: transparent;
        transition: 1s;
        font-size: 13px;
        background: #00000080;
    }
}

@media (max-width: 376px) {

    *{
        font-size: 20px;
    }

    .buttons button {
        color: white;
        border: none;
        padding: 6px 2px;
        border-radius: 8px;
        cursor: pointer;
        background: transparent;
        transition: 1s;
        font-size: 13px;
        background: #00000080;
    }



    .txt-1 {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 15px;
        margin: auto;
        margin-top: 10%;
        border-top-right-radius: 50px;
        text-align: center;
        width: 270px;
        margin-left: -40%;
    }


    .descripcion-iz {
        margin-top: 10px;
        margin-left: 5%;
        width: 295px;
        border-top-right-radius: 25px;
    }

}

@media (max-width: 320px) {

    * {
        font-size: 15px;
    }

    .buttons button {
        color: white;
        border: none;
        padding: 2px 2px;
        border-radius: 8px;
        cursor: pointer;
        background: transparent;
        transition: 1s;
        font-size: 13px;
        background: #00000080;
    }



    .txt-1 {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 16px;
        margin: auto;
        margin-top: 10%;
        border-top-right-radius: 50px;
        text-align: center;
        width: 250px;
        margin-left: -90%;
    }

    .f1 {
        padding: 20px;
        margin-top: 140px;
        font-size: 39px;
    }

    .año-de {
        margin-left: 43%;
        width: 170px;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
    }

    .descripcion-de {
        margin-top: 10px;
        margin-left: 6%;
        width: 300px;
        font-size: 10px;
        border-top-left-radius: 25px;
    }

}
